:root {
    --main: #056f05;
    --main-hover: #0a8f0a;
    --second: #ffff5c;
    --second-soft: #ffffe2;
}

* {
    font-family: "Lexend", serif !important;
}

.bg-main {
    background-color: var(--main);
}
.bg-second {
    background-color: var(--second);
}
.bg-second-soft {
    background-color: var(--second-soft);
}


.txt-main, .link-main, .link-main:hover {
    color: var(--main);
}
.txt-second, .link-second, .link-second:hover {
    color: var(--second);
}

.btn-main{
    background-color: var(--main);
    color: var(--second);
    font-weight: bold;
    padding: .5rem 3rem;
}
.btn-main:hover {
    background-color: var(--main-hover);
    color: var(--second);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}