
.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1000;
    opacity: .6;
    /* transform: translateY(-25%); */
}

#sede-container .container-fluid {
    background-color: #056f054e;
    padding: 12rem 0;
}

#about h2 {
    color: white;
    background-color: var(--main);
    width: fit-content;
    padding: .5rem 1rem;
    padding-right: 2rem;
    position: relative;
}
.triangle {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--main);
    height: 70%;
    aspect-ratio : 1 / 1;
    transform: translateX(50%) translateY(25%) rotateZ(45deg);
}

#about {
    text-align: justify;
}