
.bg-img {
    opacity: .6;
    /* transform: translateY(-25%); */
}

#sede-container {
    height: fit-content;
}

#sede-container .container-fluid {
    background-color: rgba(5, 208, 222, 0.357);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

#about h2 {
    color: white;
    background-color: var(--main);
    width: fit-content;
    padding: .5rem 1rem;
    padding-right: 2rem;
    position: relative;
}
.triangle {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--main);
    height: 70%;
    aspect-ratio : 1 / 1;
    transform: translateX(50%) translateY(25%) rotateZ(45deg);
}

#about {
    text-align: justify;
}

.ciclos-col a {
    transition: all ease-in-out .2s;
    width: 100%;
    text-align: start;
    padding: .5rem 1rem;
    border-radius: 10px;
}

.ciclos-col a:hover {
    background-color: var(--second-soft);
}